ol{

    display: inline-block;
    border: 2px solid #000;
    width: 250px;
  padding:5px;

}


li{

   
    padding-right: 3px;
    padding-top:3px;
    padding-bottom:3px;
    padding-left:34px;
    border-bottom: 5px;
    margin:5px;
   list-style-position:inside;


}


ol:last-child{


    border-bottom: default;
margin:auto;

}



ol>#bay{


    background: url("de.png") 5px center no-repeat rgba(255,0,0,0.75) ;

  
  /*  background-color: rgba(255,0,0,0.75);
    background-image: url("de.png");
    margin:5px;
    background-repeat:no-repeat;
    */
}


#man{


    background: url("en-GB.png") 5px center no-repeat rgba(0,255,0,0.25);
    
   /* background-color: rgba(0,255,0,0.25);
    background-image: url("en-GB.png");
    margin:5px;
    background-repeat:no-repeat;*/
}

#barc{
   
    background: url("es.png") 5px center no-repeat rgba(0,0,255,0.5);

    /*
    background-color: rgba(0,0,255,0.5);
        background-image: url("es.png");
    margin:5px;
    background-repeat:no-repeat;*/
    
}
#real{

    background: url("es.png") 5px center no-repeat rgba(0,0,255,0.5);
 

    /*
   background-clip:border-box;
    background-color: rgba(0,0,255,0.5);
    background-image: url("es.png");
    margin:5px;
    background-repeat:no-repeat;*/
}

#bor{


    background: url("de.png") 5px center no-repeat rgba(255,0,0,0.75) ;
    

   /* background-color: rgba(255,0,0,0.75);
    background-image: url("de.png");
    margin:5px;
    background-repeat:no-repeat; */

}

#south{

    background: url("en-GB.png") 5px center no-repeat rgba(0,255,0,0.25);
 

    /*
    background-color: rgba(0,255,0,0.25);
    background: url("en-GB.png");
    margin:5px;
    background-repeat:no-repeat;    */
}


a {outline: none;
    text-decoration: none;
        padding: 2px 1px 0;
    color:black;}



a:link {}
a:visited {}
a:focus {}
a:hover {
    color:red;
    text-decoration: underline;
    text-transform:uppercase;
}
a:active {}